.main.container {
    margin-top: 6em;
    margin-bottom: 6em;
}

.pageEntry {
    animation: fade-in 0.5s;
}

.pageExit {
    animation: fade-out 0.5s;
}

.shadedText {
    line-height: 1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #484848;
    letter-spacing: -0.035em;
}

@keyframes fade-in {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
