<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link href="https://unpkg.com/tailwindcss@^1.9.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/eva-icons"></script>

    <style>
        .pageTransition {
            animation: fade-in 1s;
        }

        @keyframes fade-in {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes slide-in {
            0% {
                width: 0%;
            }

            100% {
                width: 100%;
            }
        }

        .pageLoading {
            animation: 1s ease-in-out 0s 1 slide-in;
        }
    </style>
</head>

<body>
    <div class="bg-blue-700" id="page_loader" style="height: 2px;">
        <div class="bg-white pageLoading" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <%= navbar %>
    <main class="bg-background-base border-solid border-2 border-red-600">

        <!-- Two columns -->
        <div class="mx-16 flex border-solid border-2 border-red-600">

            <!-- POsts column -->

            <div class="w-3/4 pt-4 grid grid-cols-2 gap-4 border-solid border-2 border-red-600">
                <%= page %>
             </div>
            <div class="w-1/4 flex-col py-4 pl-4 space-y-4 hidden lg:block">
                <%- if sidebar -%>
                <%= sidebar %>
                <%- end -%>
            </div>
        </div>
    </main>

    <script>
        eva.replace()
    </script>
</body>

</html>